@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Oswald&display=swap');
h2{
    color: #34a5ab;
    text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  padding-right:3rem;
  font-weight: bold;
}
h1{
    display: block;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    padding-right:3rem;
    font-weight: bold;
    color: #2a4344;
}
.aboutus{
    margin: auto;
    width: 60%;
    padding: 8px;
        
}
.about-info {
    color: #2a4344;
    padding:1rem;
    margin:1rem;
    font-size: 1.3rem;
    font-weight: lighter;
}
#about-image{
    text-align: center;
}

.exist-info,.chooseus-info,.chooseus-info p,.exist-info p{
    color: #2a4344;
    padding:1rem;
    margin:1rem; 
    font-size: 1.3rem;
    font-weight: lighter;
}
.exist-info p{
    margin-left: 0px;
    padding-left:1rem;
}

.about-info ul li::before{
list-style: none;
font-family: FontAwesome;
content: "\f00c";
display: inline-block;
margin-left: -1.3em;
color:green ;
margin-right: 1rem;
}
.chooseus-info ul li::before{
    list-style: none;
    font-family: FontAwesome;
    content: "\f00c";
    display: inline-block;
    margin-left: -1.3em;
    color:green ;
    margin-right: 1rem;
    }
.about-info ul li{
    list-style: none;
    margin-left: 1rem;

}
.chooseus-info ul li{
    list-style: none;
    margin-left: 1rem;

}
#about-img {
    width: 530px;
    height: 580px;
    padding:0;
}
.chooseus-info ul li i{
    color:green;
    margin-left:0.5rem;
}


@media only screen and (max-width: 768px) {

    .aboutus{
        margin:0;
        max-width:100%;
        padding:0;
            
    }

h2{
  font-size:1.5rem;
  padding:0rem;
  font-weight: bold;
  padding-right:0;
  margin-left: auto;
}
h1{
    display: block;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size:2rem;
    padding:1rem;
    font-weight: bold;
    color: #2a4344;
    padding-right:0;

}

#about-img{
   min-width:100%;
    height:auto;
    padding:1rem;
}
.exist-info{
    width:300px;

}
.about-info p{
    width:300px;
}
.exist-info,.exist-info p{
    color: #2a4344;
    padding-left:0.5rem;
    margin:0; 
    font-size: 1.3rem;
    font-weight: lighter;

    
}
.exist-info,.chooseus-info,.chooseus-info p,.exist-info p{
    color: #2a4344;
    padding-left:0.5rem;
    margin:0; 
    font-size: 1.3rem;
    font-weight: lighter;
    width: 300px;

    
}
.about-info ul li::before{
    list-style: none;
    font-family: FontAwesome;
    content: "\f00c";
    display: inline-block;
    margin-left: -1.3em;
    color:green ;
    margin-right: 1rem;
    }
    .chooseus-info ul li::before{
        list-style: none;
        font-family: FontAwesome;
        content: "\f00c";
        display: inline-block;
        margin-left: -1.3em;
        color:green ;
        margin-right: 1rem;
        }
    
    .about-info ul{
       width:300px;
    }
    .chooseus-info ul{
        width:300px;
     }
    .about-info ul li{
        list-style: none;
        margin-left:0;
        

    
    }
    .chooseus-info ul li i{
        color:green;
        margin-left:0;
    }

}

