@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Oswald&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: #edfffe;
}
.navlink{
  list-style: none;
}
.navlink li{
  display: inline-block;
}
.navlink li a{
  font-family: 'Comfortaa', cursive;
  color:#408286;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 1rem;


  
}
.navlink li a:hover{
  border-bottom: 2px solid #34a5ab;

  
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 12rem;
  margin-left: 12rem;
  padding-top: 1rem;
  
}
.logo{
  height:3.5rem;
  width:3.5rem;

}
.banner-container{
  max-height:900px;
  display: flex;
  align-items: center;
  padding:3rem;
  margin: 3rem;
  padding-top: 1rem;
  

  
}
.left{
  padding:3rem;
  margin-left: 3rem;

}
.left h1, h4, p{
  color: #2a4344;

}
.left h1{
  display: block;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  padding-right:3rem;
  
}
.left h4{
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  font-size: 1rem;
}
.left p{
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  font-size: 1rem;
}
#banner-img{
  width: 530px;
  height: 580px;
  padding:0;
  margin-right: 6rem;

  
}
.banner-btn{
  border:none;
  font-family: 'Comfortaa',cursive;
  font-size: 16px; 
  padding:1rem 1.5rem;
  margin: 8px 0;
  width: auto;
  border-radius: 8px;
  background-color: #34a5ab;
  color: #fff;
  cursor: pointer;
  transition: all .3s;
}
.banner-btn:hover{
  background-color: #2b8d92;
}
  
.common-container{
  padding:1rem;
  align-items: center;
  padding:3rem;
  margin: 3rem;
  padding-top: 0rem;
  
}
.heading{
  display: flex;
  padding:3rem;
  margin-left: 3rem;

}
.circle{
   display: flex;
    width: 64px;
    height: 64px;
    border: 1px solid #233637;
    border-radius: 1000px;
    justify-content: center;
    align-items:center;
}
.heading-text{
  margin:0.5rem;
}
.common-head{
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  font-size: 1rem;
  text-transform: uppercase;
  color:#233637;
}
.heading-text h2,.number{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color:#233637;
}


/*STYLING THE ACTUAL TIMELINE*/


/*SERVICE SECTION*/
.common-container{
  align-items: center;
  padding:3rem;
  margin: 3rem;
  padding-top: 1rem;
  justify-content: center;
}
.service-content{
  display: flex;

  
}

.service-right img{
  width: 530px;
  height: 580px;
  padding:0;
  margin-right: 6rem;
}
.service-left{
  margin-left:6rem;
  padding-right:4rem;
  padding-left:4rem;
  margin-top: 2rem;
}
.service-heading,.counterup{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color:#233637;
  margin-bottom: 1rem;
  margin-top: 4rem;

}
.service-left p{
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  font-size: 1rem;
  color:#233637;
  margin-bottom: 1rem;
  
  
  

}
.counterup{
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}
.counterup .service-heading{
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  color:#233637;
  
}
.counter{
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  font-size: 1rem;
  color:#233637;
}
.client-row{
  display: flex;
  padding:4rem;
  padding-top: 0;
  padding-bottom: 0;
  
  
}
.client-detail{
  display: flex;
  
}
.client-info
{
  background-color: white;
  margin:1rem;
  border:1px solid transparent;
  border-radius: 10px;
  width: 800px;
}
.client-text{
  padding:1rem;
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  font-size: 1rem;
  color:#233637;

}
.client-detail img{
 width: 40px;
 height: 40px;
 border-radius: 1000px;
 margin:1rem;
}
.name,.designation{
  margin: 1rem;
  font-family: 'Comfortaa', cursive;
  font-weight:bold;
  font-size: 1rem;
  color:#233637;
}
.designation{
  margin-top: 0;
  font-weight: lighter;
}

/*GET IN TOUCH FORM*/

.form-container{
  height:640px;
  width:400px;
  align-items: center;
  margin: 0 auto;
  
}

.form-head{
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size:3rem;
  color:#233637;
  margin-bottom: 1rem;
  text-align: center;
}
.form-label{
  font-family: 'Comfortaa', cursive;
  font-weight:lighter;
  font-size: 1rem;
  color:#233637;
  border:transparent;

}
.form-control{
    font-family: 'Comfortaa', cursive;
    font-weight:lighter;
    font-size: 1rem;
    color:#233637;
    padding: 1rem;
    outline: 0;
    border: none;
    background-color: #d5f5f7;
    display: block;
    width: 100%;
    border-radius: 8px;
    box-shadow: inset 1px 1px 4px rgb(0 0 0 / 20%);
  
}
textarea{
  resize: none;
  height:180px;
}
#contact-button{
  padding:0.8rem 1rem;
 margin-left:7rem;
  
}
footer{
  height:80px;
  align-items: center;
  justify-content:center;
  font-family: 'Comfortaa', cursive;
  font-weight:lighter;
  font-size: 1rem;
  color:#233637;
  padding:1rem;
  margin: 1rem;
  text-align:center;
}
.section-row{
  display: flex;
}
.section-row .links a{
padding-right:1rem;
}
.section-row i{
  font-size: 2rem;
  padding-right: 1rem;
}




 






@media only screen and (max-width: 768px) {

  header{
   
    margin-right: 0.5rem;
    margin-left: 0rem;
    
  }
  .banner-container{
    max-height:auto;
    flex-direction: column;
    margin-left: auto;
    padding-top: 1rem;
  
    
  
    
  }
.left{
  padding-left:0rem;
  margin-left:auto;

}
.left h1, h4 {
  padding:0;
  margin:0;

}
.left h1{
  text-align: left;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size:36px;
  padding-right:0;
  justify-content: left;
  
  
}
#banner-img{
  max-width:100%;
  height:auto;
  padding:0;
  padding-left: 0;

  
}
.banner-btn{
  border:none;
  font-family: 'Comfortaa',cursive;
  font-size: 16px; 
  padding:1rem 1.5rem;
  margin: 8px 0;
  width:100%;
 
}
.common-container{
  padding:0rem;
  margin-left: auto;

  
}
.common-head h2{
  font-size: 1rem;
}
.service-content{
  flex-direction: column-reverse;

  
}
.service-right img{
  max-width:100%;
  height:auto;
  padding:0;
  margin-right:0;
}
.service-left{
  margin-left:auto;
  padding-right:0;
  padding-left:0;
  margin-top: 1.5rem;
}
.circle{
  display: flex;
   width: 32px;
   height: 32px;
   border: 1px solid #233637;
   border-radius: 500px;
   justify-content:left;
   align-items:center;
}
.number{
  font-size: 1rem;
  align-self:center;
  margin-left: 0.6rem;
}
.heading-text{
  margin-left:0;
}
#internetmarket{
  flex-direction: column;
}

#internetmarket p{
  margin-left: 1rem;
  padding:0;
}
.counterup{
  flex-direction: column;
  text-align: center;
  justify-content:space-around;
}
.client-row{
  flex-direction: column;
  padding:0;
  
  
  
}
.client-info
{
  background-color: white;
  margin:1rem;
  border:1px solid transparent;
  border-radius: 10px;
  max-width:100%;
}
.client-detail{
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin:0;
}
textarea{
  resize: none;
  height:180px;
}
#contact-button{
  padding:0.8rem 1rem;
 margin-left:0;
  
}
form{
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.form-head{
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size:1.8rem;
  color:#233637;
  margin-bottom: 1rem;
  text-align: center;
  
}
footer{
  height:auto;
  
  font-size: 1rem;
  color:#233637;
  padding:1rem;
  margin: 1rem;
  text-align:center;
}
.section-row{
  flex-direction: column;
}
.section-row .links a{
  padding-right:1rem;
  }
  .section-row i{
    font-size: 1.5rem;
    padding-right:1rem;
    padding-top: 1rem;
  }


}
